@use "../global" as *;

.page__service-head {
  box-sizing: border-box;
  margin-inline: auto;
  max-width: rem(1220 + 20 + 40);
  padding-bottom: rem(160);
  padding-inline: rem(20 + 20) rem(20);
  width: 100%;

  &-inner {
    align-items: flex-end;
    display: flex;
    gap: rem(44);
    justify-content: center;
  }

  &-image {
    flex: 1 1 rem(720);
    max-width: rem(720);
    min-width: 0;

    @include mq(pc) {
      flex: 1 1 rem(480);
      max-width: rem(480);
    }

    picture,
    img {
      display: block;
      height: auto;
      width: 100%;
    }
  }

  &-text {
    flex: 1;
    max-width: rem(456);
    min-width: 0;
    padding-bottom: rem(16);
    width: rem(456);

    &-body {
      display: flex;
      flex-direction: column;
      gap: rem(20);
    }

    p {
      color: $black;
      font-feature-settings: "pwid", "palt";
      font-size: rem(17);
      font-weight: 400;
      letter-spacing: lts-em(0.85, 17);
      line-height: 2.6;
    }
  }

  &-mark {
    background: linear-gradient(
      to bottom,
      transparent 0,
      transparent calc(50% - #{rem(12)}),
      #e4f3ff calc(50% - #{rem(12)}),
      #e4f3ff calc(50% + #{rem(12)}),
      transparent calc(50% + #{rem(12)}),
      transparent 100%
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    display: inline;
  }

  @include mq(tb) {
    padding-bottom: rem(120);
    padding-inline: rem(24);

    &-inner {
      align-items: center;
      flex-direction: column;
      gap: rem(32);
    }

    &-image {
      flex: none;
      // max-width: rem(327);
      width: 100%;
    }

    &-text {
      flex: none;
      max-width: rem(327);
      max-width: 100%;
      padding-bottom: 0;
      width: 100%;

      &-body {
        gap: rem(12);
      }

      p {
        font-size: rem(15);
        letter-spacing: lts-em(0.75, 15);
        line-height: 2.6;
      }
    }

    &-mark {
      background: linear-gradient(
        to bottom,
        transparent 0,
        transparent calc(50% - #{rem(12)}),
        #e4f3ff calc(50% - #{rem(12)}),
        #e4f3ff calc(50% + #{rem(12)}),
        transparent calc(50% + #{rem(12)}),
        transparent 100%
      );
    }
  }
}

.page-printing {
  @include mq(sp) {
    .type-products {

      /*  .img-list--2column {
            gap: rem(16);
            li{
                width: 100%;
            }
        } */
      .mt32 {
        margin-top: rem(40);
      }
    }
  }
}

.page-processing {
  .light-blue-box {
    h3 {
      font-size: rem(17);
      font-weight: 700;
      line-height: calc(30 / 17);
      letter-spacing: lts-em(0.85, 17);
    }

    p {
      font-size: rem(15);
      line-height: calc(27 / 15);
      letter-spacing: lts-em(0.75, 15);
    }
  }

  .light-blue-box-inner {
    display: flex;
    gap: rem(40);
    margin-top: rem(16);
  }

  .occasionally {
    .light-blue-box-flex {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: rem(10);
      margin-top: rem(16);

      li {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(4);
        background: $white;
        padding-block: rem(8) rem(12);

        img {
          width: rem(62);
          height: rem(62);
        }

        p {
          font-size: rem(13);
          line-height: calc(18 / 13);
          letter-spacing: lts-em(0.65, 13);
          display: inline-grid;
          place-items: center;
          height: 100%;
          text-align: center;
        }

        span {
          font-size: rem(11);
          line-height: 1.4;
          letter-spacing: lts-em(0.55, 11);
        }
      }
    }
  }

  @include mq(tb) {
    .page__head-inner {
      width: 100%;
      padding-left: rem(24);
      padding-right: rem(18);

      .page__title--en {
        letter-spacing: lts-em(2.7, 54);
      }
    }

    .light-blue-box-inner {
      gap: rem(0);
      margin-top: rem(12);
      flex-direction: column;
    }

    .occasionally {
      .light-blue-box {
        width: calc(100% + rem(48));
        margin-left: rem(-24);

        p {
          font-size: rem(12);
          line-height: calc(21 / 12);
          letter-spacing: lts-em(0.6, 12);
        }
      }

      .light-blue-box-flex {
        grid-template-columns: repeat(3, 1fr);
        margin-top: rem(20);
      }
    }
  }
}

.page-bookbinding {
  @include mq(tb) {
    .page__head-inner {
      width: 100%;
      padding-left: rem(24);
      padding-right: rem(24);

      .page__title--en {
        letter-spacing: lts-em(2.3, 46);
        font-size: rem(46);
      }
    }

    .img-list--2column-sp1 {
      gap: rem(20);
    }
  }
}
