@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Noto+Sans+JP:wght@100..900&display=swap');

/**
 * 基本的に使用するのはNotoSansJp
 * 英語タイトルのみHind
 */

:root {
    --white: #FFFFFF;
    --black: #282828;
    --blue: #0068B6;
    --light-blue: #F1F9FF;
    --dark-gray: #7A7A7A;
    --gray: #A6A6A6;
    --light-gray: #EEF1F4;
}

// color
$white: var(--white);
$black: var(--black);
$blue: var(--blue);
$light-blue: var(--light-blue);
$gray: var(--gray);
$dark-gray: var(--dark-gray);
$light-gray: var(--light-gray);

// font
$font-noto-sans-jp: "Noto Sans JP", sans-serif;
$font-hind: "Hind", serif;

// box-shadow 
$shodow-01: 0px 4px 16px 0px rgba(40, 40, 40, 0.15);
$shodow-02: 0px 0px 16px 0px rgba(40, 40, 40, 0.25);
$shodow-03: 0px 0px 16px 0px rgba(40, 40, 40, 0.25);