@use '../../global/' as *;

.cta {
    position: relative;
    background: $light-gray url(../images/pc/cta_btg-pc.webp) no-repeat center center/cover;
    max-width: rem(1200);
    width: calc(100% - rem(80));
    margin-block: rem(0) rem(-162);
    margin-inline: auto;
    padding-block: rem(48);
    padding-inline: rem(48);
    border-radius: rem(16);
    z-index: 1;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: rem(944);
        margin-inline: auto;
    }

    .section__title {
        color: $blue;
        height: inherit;

        &--en {
            font-size: rem(72);
            font-weight: 600;
        }
    }

    &__text {
        color: $black;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 160%;
        letter-spacing: 0.1em;
        margin-bottom: rem(36);

        span {
            display: inline-block;
        }
    }

    &__sec-btn-wap {
        display: flex;
        flex-direction: column;
        gap: rem(24);
    }

    @include mq(pc) {
        padding-inline: rem(60) rem(54);

        &__inner {
            gap: rem(32);
        }

        .section__title {
            &--en {
                font-size: rem(64);
            }
        }
    }

    @include mq(tb) {
        padding: rem(39) rem(24) rem(32);
        width: calc(100% - rem(48));
        margin-block: rem(0) rem(-317);

        &__inner {
            gap: rem(28);
        }

        .section__title {
            margin-bottom: 0;

            &--en {
                font-size: rem(48);
                letter-spacing: 0.05em;
                padding-left: 0;
            }

            &--jp {
                padding-left: 0;
            }
        }

        &__sec-btn-wap {
            gap: rem(16);
        }

        &__text {
            font-size: rem(17);
            line-height: calc(29/17);
            margin-left: 0;
            margin-bottom: rem(16);
        }
    }

    @include mq(sp) {
        background: $light-gray url(../images/sp/cta_btg-sp.webp) no-repeat center center/cover;

        &__inner {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}

.footer {
    background: $blue;
    color: $white;

    &__inner {
        padding-block: rem(241) rem(48);
        padding-inline: rem(20);
        max-width: rem(1200);
        width: calc(100% - rem(80));
        margin-inline: auto;
        display: flex;
        flex-direction: column
    }

    &__logo {
        display: flex;
        align-items: flex-end;
        gap: rem(22);

        &-img {
            width: rem(91);
        }

        &-text {
            width: rem(292);
            padding-bottom: rem(4.25);
        }
    }

    &__main {
        margin-top: rem(48);
        display: flex;
        justify-content: space-between;
        gap: rem(96);
    }

    &__address {
        width: rem(430);
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        color: $white;

        dl {
            display: flex;
            flex-direction: column;
            gap: .5rem;

            dt,
            dd {
                line-height: 170%;
                letter-spacing: .1em;
                color: $white;

                a {
                    color: $white;
                }
            }

            dt {
                font-size: rem(14);
                font-weight: 700;
            }

            dd {
                font-size: rem(13);
                font-weight: 400;
            }
        }
    }

    &__nav {
        flex: 1;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: rem(10);
        max-width: rem(651);

        &-item {
            // width: 10.5625rem;
            width: fit-content;

            a {
                display: flex;
                align-items: center;
                gap: .5rem;
                color: $white;
                transition: .3s;

                &[target="_blank"]::after {
                    content: '';
                    display: block;
                    width: 1.1875rem;
                    height: 1.1875rem;
                    background: url(../images/common/external-link-alt.svg) no-repeat center center/cover;
                }

                &:hover {
                    opacity: .4;
                }
            }

            h3 {
                font-size: rem(14);
                font-weight: 700;
                line-height: 170%;
                letter-spacing: 0.1em;

                +h3 {
                    margin-top: 2.5rem;
                }
            }

            ul {
                margin-top: 1.25rem;
                display: flex;
                flex-direction: column;
                gap: .75rem;
                padding-left: 1.25rem;

                li {
                    position: relative;

                    a {
                        font-size: rem(13);
                        font-weight: 400;
                        line-height: 170%;
                        letter-spacing: 0.1em;
                        display: flex;
                        align-items: center;
                        gap: .5rem;
                        transition: .3s;

                        &::before {
                            content: '';
                            display: block;
                            width: .75rem;
                            height: 1px;
                            background: $white;
                            position: absolute;
                            left: -1.25rem;
                        }

                        &:hover {
                            opacity: .4;
                        }
                    }

                    ul {
                        gap: .5rem;
                        margin-top: .5rem;
                    }
                }
            }
        }

    }

    &__sns {
        margin-top: rem(48);
        width: fit-content;
        display: flex;
        align-items: center;
        gap: rem(28);

        a {
            img {
                transition: .3s;
            }

            &:hover {
                img {
                    opacity: 0.5;
                }
            }
        }

        .sns {
            &--x {
                width: rem(36);
            }

            &--youtube {
                width: rem(46);
            }

            &--facebook {
                width: rem(40);
            }

            &--instagram {
                width: rem(38);
            }

            a {
                transition: .3s;

                &:hover {
                    opacity: .4;
                }
            }
        }
    }

    &__copy {
        color: $white;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        line-height: 170%;
        letter-spacing: 0.1em;
        padding-block: 1rem 1.5rem;
        border-top: 1px solid $white;

        &-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: rem(1200);
            width: calc(100% - rem(80));
            padding-inline: rem(20);
            margin-inline: auto;

            a {
                color: $white;
            }
        }
    }

    @include mq(pc) {
        &__address {
            width: 24rem;
        }

        &__main {
            gap: rem(48);
        }
    }


    @include mq(tb) {
        &__inner {
            padding-block: rem(365) rem(24);
            width: calc(100% - rem(48));
            padding-inline: rem(11.5);
        }

        &__logo {
            gap: rem(12);

            &-img {
                width: rem(68);
            }

            &-text {
                width: rem(194);
                padding-top: rem(16);
                padding-bottom: 0;
            }
        }

        &__address {
            width: 100%;
            gap: rem(12);

            dl {
                gap: rem(0);

                dt {
                    font-size: rem(13);
                    line-height: calc(22/13);
                }

                dd {
                    font-size: rem(12);
                    line-height: calc(20/12);
                }
            }
        }

        &__main {
            flex-direction: column;
            gap: rem(36);
            margin-top: rem(32);
        }

        &__nav {
            flex-wrap: wrap;
            gap: 1rem rem(40);
            padding-top: rem(36);
            border-top: 1px solid #004273;
            margin-top: 0;


            &-item {
                flex: 1;

                h3 {
                    font-size: rem(13);
                    line-height: calc(22/13);

                    +h3 {
                        margin-top: 1rem;

                    }
                }

                ul {
                    margin-top: rem(14);
                    gap: rem(10);
                    padding-left: 1rem;

                    li {

                        a {
                            font-size: rem(12);
                            line-height: calc(20/12);

                            &::before {
                                width: 0.5rem;
                                left: -1rem;
                            }
                        }

                        ul {
                            gap: rem(6);
                            margin-top: rem(6);
                        }
                    }
                }

                &:last-of-type {
                    flex: 1 0 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: rem(16) rem(40);

                    h3 {
                        width: calc(50% - rem(40) / 2);
                        margin: 0;
                    }
                }
            }
        }

        &__sns {
            margin-inline: auto;
            margin-top: rem(32);
        }

        &__copy {
            &-inner {
                flex-direction: column;
                align-items: center;
                gap: .5rem;
            }
        }
    }
}