@use '../../global/' as *;

.wrapper {
    // display: flex;
    // flex-direction: column;
    // gap: rem(160);

    >*+* {
        margin-top: rem(160);
    }

    @include mq(tb) {

        // gap: rem(120);
        >*+* {
            margin-top: rem(120);
        }
    }
}

.wrapper-136 {
    display: flex;
    flex-direction: column;
    gap: rem(136);

    @include mq(tb) {
        gap: rem(88);
    }
}
.wrapper-94--64 {
    display: flex;
    flex-direction: column;
    gap: rem(94);

    @include mq(tb) {
        gap: rem(64);
    }
}

.wrapper-152 {
    display: flex;
    flex-direction: column;
    gap: rem(152);

    @include mq(tb) {
        gap: rem(120);
    }

}

.section {
    max-width: rem(1120);
    width: calc(100% - rem(80));
    // margin-top: 10rem;
    margin-inline: auto;

    &__title {
        display: flex;
        flex-direction: column;
        height: rem(119);

        &--en {
            display: block;
            font-size: rem(88);
            font-weight: 500;
            letter-spacing: .1em;
            font-family: $font-hind;
            line-height: 1;
        }

        &--jp {
            display: block;
            font-size: rem(18);
            font-weight: 700;
            line-height: 1.7;
            padding-left: rem(4);
            letter-spacing: .05em;
            margin-top: auto;
        }
    }

    @include mq(tb) {
        // margin-top: 7.5rem;
        width: calc(100% - rem(48));

        &__head {
            display: contents;
        }

        &__title {
            height: rem(74);
            margin-bottom: rem(40);

            &--en {
                font-size: rem(48);
            }

            &--jp {
                padding-left: rem(2);
                font-size: rem(14);
            }
        }
    }
}

.section__col {
    display: flex;
    flex-wrap: wrap;
    gap: rem(120);

    @include mq(pc) {
        gap: rem(48);
    }

    @include mq(tb) {
        flex-direction: column;
        gap: rem(72);
    }
}

.section__side {
    position: sticky;
    top: rem(100);
    align-self: flex-start;
    width: rem(240);

    h3 {
        display: flex;
        align-items: center;
        padding: 0 3.25rem;
        background: $blue;
        height: rem(59);
        color: $white;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 170%;
        letter-spacing: 0.1em;
    }

    ul {
        width: 100%;

        li {
            position: relative;
            width: 100%;

            a {
                display: flex;
                align-items: center;
                padding-block: rem(16);
                padding-inline: rem(52) 0;
                width: 100%;
                color: $gray;
                font-size: rem(15);
                font-weight: 500;
                line-height: calc(23 / 15);
                letter-spacing: 0.1em;
                border-bottom: 1px solid $gray;
                transition: .3s;

                &::before {
                    content: '';
                    display: block;
                    width: rem(12);
                    height: rem(12);
                    border-radius: 50%;
                    background: $blue;
                    position: absolute;
                    top: auto;
                    left: rem(24);
                    opacity: 0;
                    transition: .3s;
                }

                &.active {
                    color: $black;

                    &::before {
                        opacity: 1;
                    }
                }

                &:hover {
                    color: $black;

                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &.section__side--news {
        ul {
            li {
                a {
                    font-size: rem(16);
                    line-height: calc(24 / 16);
                }
            }
        }
    }

    @include mq(tb) {
        position: relative;
        top: 0;
        width: 100%;

        h3 {
            display: none;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: rem(15) rem(13);

            li {
                width: calc(100% / 3 - rem(26 / 3));

                a {
                    height: inherit;
                    border-radius: 6.25rem;
                    border: 1px solid $gray;
                    font-size: rem(14);
                    line-height: calc(18 / 14);
                    letter-spacing: 0.05em;
                    padding: rem(14) 0;
                    justify-content: center;
                    text-align: center;

                    &::before {
                        display: none;
                    }

                    &:hover {
                        background: $blue;
                        color: $white;
                    }

                    &.active {
                        background: $blue;
                        color: $white;
                    }
                }
            }
        }
    }

    @include mq(sp) {
        ul {
            li {
                width: calc(100% / 2 - rem(13 / 2));
            }
        }
    }
}

.section__main {
    flex: 1;
}

.page-features {
    .feature__txt {
        font-size: rem(18);
        line-height: 2.2;
        letter-spacing: 0.1em;
        color: $black;
    }

    .feature__contents {
        display: flex;
        flex-direction: column;
        gap: rem(160);
        margin-top: rem(120);
    }

    .feature__item {
        display: flex;
        gap: rem(48);
        align-items: flex-start;

        .feature__item-image {
            width: rem(510);
            flex-shrink: 0;
        }

        .feature__item-content {
            width: calc(100% - rem(510 + 48));
            padding-top: rem(48);
        }

        .feature__item-title {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: rem(12);
            margin-bottom: rem(44);

            .feature__item-title-text {
                display: inline-flex;
                width: fit-content;
                background-color: $blue;
                padding: rem(8) rem(24);
                color: $white;
                font-size: rem(36);
                font-weight: 700;
                line-height: 1.7;
                letter-spacing: 0.1em;
                white-space: nowrap;

                &.desktop {
                    display: inline-flex;
                }

                &.mobile {
                    display: none;
                }

                @include mq(tb) {
                    &.desktop {
                        display: none;
                    }

                    &.mobile {
                        display: inline-flex;
                    }
                }
            }
        }

        .feature__item-text {
            font-size: rem(15);
            line-height: 2;
            letter-spacing: 0.05em;
            color: $black;
        }

        &.feature__item--01,
        &.feature__item--03,
        &.feature__item--05 {
            .feature__item-title {
                left: rem(-116);
            }
        }

        &.feature__item--02,
        &.feature__item--04 {
            flex-direction: row-reverse;

            .feature__item-title {
                left: rem(0);
            }
        }
    }

    @include mq(pc) {
        .feature__item {
            .feature__item-image {
                width: rem(440);
            }

            .feature__item-content {
                width: calc(100% - rem(440 + 48));
            }

            .feature__item-title {
                .feature__item-title-text {
                    font-size: rem(28);
                }
            }

            &.feature__item--01,
            &.feature__item--03,
            &.feature__item--05 {
                .feature__item-title {
                    left: rem(-70);
                }
            }
        }
    }

    @include mq(tb) {
        .feature__section {
            max-width: rem(520);
            width: 100%;
        }

        .feature__txt {
            font-size: rem(15);
            line-height: 2;
            letter-spacing: 0.05em;
        }

        .feature__contents {
            margin-top: rem(72);
            gap: rem(88);
        }

        .feature__item {
            flex-direction: column !important;
            gap: 0;

            .feature__item-image {
                width: rem(327);
                margin-left: auto;
                margin-right: 0;
                order: 2;
            }

            .feature__item-content {
                display: contents;
            }

            .feature__item-title {
                position: relative;
                order: 1;
                margin-left: rem(24);
                position: static;
                gap: rem(8);
                margin-bottom: rem(-24);
                z-index: 1;

                .feature__item-title-text {
                    padding: rem(3) rem(12);
                    font-size: rem(20);
                }
            }

            .feature__item-texts {
                order: 3;
                padding-inline: rem(24);
                margin-top: rem(32);
            }

            .feature__item-text {
                font-size: rem(14);
            }
        }
    }
}