@use '../../global/' as *;

.wrapper {
    display: flex;
    flex-direction: column;
    gap: rem(160);

    @include mq(tb) {
        gap: rem(120);
    }
}

.section {
    max-width: rem(1120);
    width: calc(100% - rem(80));
    // margin-top: 10rem;
    margin-inline: auto;

    &__title {
        display: flex;
        flex-direction: column;
        height: rem(119);

        &--en {
            display: block;
            font-size: rem(88);
            font-weight: 500;
            letter-spacing: .1em;
            font-family: $font-hind;
            line-height: 1;
        }

        &--jp {
            display: block;
            font-size: rem(18);
            font-weight: 700;
            line-height: 1.7;
            padding-left: rem(4);
            letter-spacing: .05em;
            margin-top: auto;
        }
    }

    @include mq(tb) {
        // margin-top: 7.5rem;
        width: calc(100% - rem(48));

        &__head {
            display: contents;
        }

        &__title {
            height: rem(74);
            margin-bottom: rem(40);

            &--en {
                font-size: rem(48);
            }

            &--jp {
                padding-left: rem(2);
                font-size: rem(14);
            }
        }
    }
}

.section__col {
    display: flex;
    flex-wrap: wrap;
    gap: rem(120);

    @include mq(pc) {
        gap: rem(48);
    }

    @include mq(tb) {
        flex-direction: column;
        gap: rem(72);
    }
}

.section__side {
    position: sticky;
    top: rem(100);
    align-self: flex-start;
    width: rem(240);

    h3 {
        display: flex;
        align-items: center;
        padding: 0 3.25rem;
        background: $blue;
        height: rem(59);
        color: $white;
        font-size: 1.125rem;
        font-weight: 700;
        line-height: 170%;
        letter-spacing: 0.1em;
    }

    ul {
        width: 100%;

        li {
            position: relative;

            a {
                display: flex;
                align-items: center;
                padding-block: rem(16);
                padding-inline: rem(52) rem(24);
                color: $gray;
                font-size: rem(15);
                font-weight: 500;
                line-height: calc(23 / 15);
                letter-spacing: 0.1em;
                border-bottom: 1px solid $gray;
                transition: .3s;

                &::before {
                    content: '';
                    display: block;
                    width: rem(12);
                    height: rem(12);
                    border-radius: 50%;
                    background: $blue;
                    position: absolute;
                    top: auto;
                    left: rem(24);
                    opacity: 0;
                    transition: .3s;
                }

                &.active {
                    color: $black;

                    &::before {
                        opacity: 1;
                    }
                }

                &:hover {
                    color: $black;

                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &.section__side--news {
        ul {
            li {
                a {
                    font-size: rem(16);
                    line-height: calc(24 / 16);
                }
            }
        }
    }

    @include mq(tb) {
        position: relative;
        top: 0;
        width: 100%;

        h3 {
            display: none;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: rem(15) rem(13);

            li {
                width: calc(100% / 3 - rem(26 / 3));

                a {
                    height: inherit;
                    border-radius: 6.25rem;
                    border: 1px solid $gray;
                    font-size: rem(14);
                    line-height: calc(18 / 14);
                    letter-spacing: 0.05em;
                    padding: rem(14) rem(12);
                    justify-content: center;

                    &::before {
                        display: none;
                    }

                    &:hover {
                        background: $blue;
                        color: $white;
                    }

                    &.active {
                        background: $blue;
                        color: $white;
                    }
                }
            }
        }
    }

    @include mq(sp) {
        ul {
            li {
                width: calc(100% / 2 - rem(13 / 2));
            }
        }
    }
}

.section__main {
    flex: 1;
}

.history-follow {
    position: relative;

    &::before {
        content: '';
        display: block;
        width: rem(2);
        height: calc(100% - rem(17));
        background: $blue;
        position: absolute;
        top: rem(17);
        left: calc(rem(222) + rem(72) + rem(16 / 2));
        background-image: url(../images/pc/flow-line.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        transform: translateX(-50%);
        z-index: -1;
    }

    @include mq(tb) {
        display: flex;
        flex-direction: column;
        gap: rem(48);

        &::before {
            width: rem(1);
            height: 100%;
            top: 0;
            left: rem(16/2);
            background-image: url(../images/sp/flow-line.svg);
        }
    }
}

.history-item {
    display: flex;
    justify-content: flex-end;
    gap: rem(72);
    width: 100%;

    &__year {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: rem(24);
        width: rem(222);

        &-number {
            font-family: $font-hind;
            font-weight: 600;
            font-size: rem(104);
            line-height: 1;
            letter-spacing: 0.05em;
            color: $blue;
            opacity: 0.2;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: rem(8);
        flex: 1;
    }
    
    &__date {
        display: flex;
        align-items: center;
        gap: rem(32);
        width: 100%;
        padding-top: rem(48);

        &-dot {
            width: rem(16);
            height: rem(16);
            background-color: $blue;
            border-radius: 50%;
        }

        &-text {
            font-weight: 700;
            font-size: rem(18);
            line-height: calc(32 / 18);
            letter-spacing: 0.05em;
            color: $blue;
        }
    }

    &__description {
        font-weight: 400;
        font-size: rem(15);
        line-height: 1.8;
        letter-spacing: 0.05em;
        color: $black;
        padding-left: rem(48);
    }

    &__img-list {
        padding-left: rem(48);
        display: flex;
        flex-wrap: wrap;
        gap: rem(20);
        margin-top: rem(20);

    }

    &__img {
        width: calc(100% / 2 - rem(20 / 2));
        aspect-ratio: 378 / 210;
        background-color: $light-gray;
    }
    
    

    @include mq(tb) {
        flex-direction: column;
        gap: rem(0);

        &__year {
            align-items: flex-start;
            padding-top: rem(0);
            width: fit-content;
            padding-left: rem(36);
            margin-bottom: rem(-4);
    
            &-number {
                font-size: rem(64);
            }
        }
    
        &__content {
            display: flex;
            flex-direction: column;
            flex: none;
            width: 100%;
        }
        
        &__date {
            gap: rem(20);
            padding-top: rem(0);
    
            &-text {
                font-size: rem(17);
                line-height: calc(31 / 17);
            }
        }
    
        &__description {
            font-size: rem(14);
            padding-left: rem(36);
            line-break: anywhere;
        }
    
        &__img-list {
            padding-left: rem(48);
            display: flex;
            flex-wrap: wrap;
            gap: rem(20);
            margin-top: rem(20);
    
        }
    
        &__img {
            width: calc(100% / 2 - rem(20 / 2));
            aspect-ratio: 378 / 210;
            background-color: $light-gray;
        }
    }
}
