@use '../../global/' as *;


.btn {
    position: relative;
    left: 0;
    width: rem(280);
    min-width: fit-content;
    height: rem(60);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-inline: 2rem 1rem;
    background: $blue;
    border-radius: 6.25rem;
    color: $white;
    box-shadow: 0px 0px 16px 0px rgba(40, 40, 40, 0.25);
    transition: .3s;


    .btn__text {
        margin-inline: auto;
        width: fit-content;
        text-align: center;
        font-size: 1rem;
        letter-spacing: .1em;
        line-height: 1.7;
        font-weight: 700;
    }

    .btn__icon {
        background: $white;
        width: 2.375rem;
        height: 2.375rem;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: .3s;

        svg {
            width: rem(22);
            height: rem(22);

            path {
                transition: .3s;
            }
        }
    }

    &:hover {
        position: relative;
        background: $white;
        color: $blue;
        padding-inline: rem(40) rem(40 - 7.86);
        gap: rem(30);
        /* width: rem(280 + 40); */
        width: max-content;
        left: rem(-20);
    }

    &--onlyspanimation {
        &:hover {
            position: relative;
            background: $white;
            color: $blue;
            padding-inline: 2rem 1rem;
            gap: 1rem;
            width: rem(280);
            left: rem(0);
        }
    }

    &--white {
        background: $white;
        color: $black;
        box-shadow: 0px 0px 16px 0px rgba(40, 40, 40, 0.15);

        .btn__icon {
            background: $blue;
        }

        &:hover {
            background: $blue;
            color: $white;
        }
    }

    &--right {
        left: auto;
        right: 0;

        &:hover {
            left: auto;
            right: rem(-20);
        }
    }

    &--reverce {
        padding-inline: 1rem 2rem;
        left: auto;

        &:hover {
            left: auto;
        }
    }

    &.cta__btn {
        width: rem(380);
        height: rem(102);
        padding-inline: 3rem;
        left: auto;
        right: 0;


        .btn__text {
            letter-spacing: 0.025em;
        }

        &:hover {
            width: rem(420);
            padding-inline: rem(48 + 12) rem(48 + 12 - 7.86);
            right: rem(-20);
        }
    }

    @include mq(tb) {
        margin-inline: auto;
        box-shadow: 0px 0px 12px 0px rgba(40, 40, 40, 0.15);
        padding-inline: 1.875rem 1rem;
        left: auto;

        &:hover {
            left: auto;
            padding-inline: rem(32) rem(32 - 7.86);
            width: rem(280 + 20);
        }

        &--onlyspanimation {
            &:hover {
                left: auto;
                padding-inline: rem(32) rem(32 - 7.86);
                width: rem(280 + 20);
            }
        }

        .btn__text {
            font-size: 0.9375rem;
        }


        &--right {
            left: auto;
            right: auto;

            &:hover {
                left: auto;
                right: auto;
            }
        }

        &.cta__btn {
            height: auto;
            padding: 0.6875rem 1rem 0.75rem 1.875rem;

            .btn__text {
                font-size: 0.875rem;
                line-height: 1.4;
            }

            &:hover {
                gap: 1rem;
                padding-inline: rem(32) rem(32 - 7.86);
                right: rem(-10);
            }
        }

        &--reverce {
            padding-inline: 1rem 2rem;
            left: auto;

            &:hover {
                left: auto;
            }
        }
    }

    @include mq(sp) {
        &.cta__btn {
            width: rem(320);
            left: 50%;
            transform: translateX(-50%);
            margin-inline: 0;
            right: auto;

            &:hover {
                width: rem(340);
                right: auto;
            }
        }
    }

    @media screen and (max-width: 440px) {
        &.cta__btn {
            width: rem(280);

            &:hover {
                width: rem(300);
            }
        }
    }
}