@use '../../global/' as *;


.btn {
    position: relative;
    left: 0;
    width: rem(280);
    min-width: fit-content;
    height: rem(60);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-inline: 2rem 1rem;
    background: $blue;
    border-radius: 6.25rem;
    color: $white;
    box-shadow: 0px 0px 16px 0px rgba(40, 40, 40, 0.25);
    transition: .3s;


    .btn__text {
        margin-inline: auto;
        width: fit-content;
        text-align: center;
        font-size: 1rem;
        letter-spacing: .1em;
        line-height: 1.7;
        font-weight: 700;
    }

    .btn__icon {
        background: $white;
        width: 2.375rem;
        height: 2.375rem;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: .3s;

        svg {
            width: rem(22);
            height: rem(22);
            transition: .3s;

            path {
                transition: .3s;
            }
        }
    }

    &:hover {
        position: relative;
        background: $white;
        color: $blue;

        .btn__icon {
            transform: translateX(rem(7.5));

        }
    }

    &--onlyspanimation {
        &:hover {
            position: relative;
            background: $white;
            color: $blue;
        }
    }

    &--white {
        background: $white;
        color: $black;
        box-shadow: 0px 0px 16px 0px rgba(40, 40, 40, 0.15);

        &.btn--tel {
            background: $blue;
            color: $white;
            pointer-events: none;
            cursor: default;

            &:hover {
                background: inherit;
                color: inherit;
            }

            @include mq(tb) {
                background: $white;
                color: $black;
                pointer-events: auto;
                cursor: pointer;

                &:hover {
                    background: $blue;
                    color: $white;
                }
            }
        }

        .btn__icon {
            background: $blue;
        }

        &:hover {
            background: $blue;
            color: $white;
        }
    }

    &--right {
        left: auto;

        &:hover {
            left: auto;
        }
    }

    &--reverce {
        padding-inline: 1rem 2rem;
        left: auto;

        &:hover {
            left: auto;
        }
    }

    &.cta__btn {
        width: rem(492);
        height: rem(102);
        padding-inline: rem(48) rem(60);
        left: auto;
        right: 0;
        gap: rem(20);

        &.cta__btn02 {
            width: rem(490);
            margin-inline: auto;
            padding-inline: rem(48);
            display: flex;
            align-items: center;
            justify-content: space-between;

            .cta__btn02-text01 {
                font-size: rem(18);
                line-height: 1.5;
                letter-spacing: 0.1em;
                font-weight: 700;
                position: relative;
                width: rem(114);
                white-space: nowrap;
                text-align: center;

                &::before {
                    content: '';
                    display: block;
                    width: rem(2);
                    height: rem(69);
                    border-radius: 62.5em;
                    background: $light-gray;
                    position: absolute;
                    right: rem(-23);
                    top: 50%;
                    transform: translateY(-50%);
                    background: $light-gray;
                }
            }

            .cta__btn02-text02 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .cta__btn02-text02-tel {
                    font-size: rem(38);
                    line-height: 1;
                    letter-spacing: 0;
                    font-weight: 700;
                    color: $white;
                    font-family: $font-hind;
                    transition: .3s;
                }

                .cta__btn02-text02-time {
                    font-size: rem(11);
                    line-height: 1.6;
                    letter-spacing: 0.1em;
                    font-weight: 700;
                    color: $white;
                    transition: .3s;
                }

                // スマホのみ
                @include mq(tb) {

                    .cta__btn02-text02-tel,
                    .cta__btn02-text02-time {
                        color: $blue;
                    }
                }
            }

            &:hover {
                @include mq(tb) {
                    .cta__btn02-text02 {

                        .cta__btn02-text02-tel,
                        .cta__btn02-text02-time {
                            color: $white;
                        }
                    }
                }
            }

        }


        .btn__text {
            font-size: rem(20);
            line-height: 1.6;
            letter-spacing: 0.1em;
        }

        &:hover {
            .btn__icon {
                transform: translateX(rem(10));
            }
        }
    }

    @include mq(pc) {
        &.cta__btn {
            width: rem(428);
            padding-inline: rem(48) rem(60);

            &.cta__btn02 {
                width: rem(426);
                padding-inline: rem(32);

                .cta__btn02-text02 {
                    .cta__btn02-text02-tel {
                        font-size: rem(34);
                    }
                }
            }
        }
    }

    @include mq(tb) {
        margin-inline: auto;
        box-shadow: 0px 0px 12px 0px rgba(40, 40, 40, 0.15);
        padding-inline: 1.875rem 1rem;
        left: auto;

        &:hover {
            left: auto;
        }

        &--onlyspanimation {
            &:hover {
                left: auto;
            }
        }

        .btn__text {
            font-size: 0.9375rem;
            line-height: 1.4;
        }


        &--right {
            left: auto;
            right: auto;

            &:hover {
                left: auto;
                right: auto;
            }
        }

        &.cta__btn {
            height: auto;
            padding: rem(17) rem(16) rem(17) rem(30);
            width: rem(279);
            gap: rem(16);

            .btn__text {
                font-size: rem(16);
                line-height: 1.4;
                letter-spacing: 0.1em;
            }

            &.cta__btn02 {
                width: rem(279);
                height: auto;
                padding: rem(10);
                flex-direction: column;
                gap: rem(6);

                .cta__btn02-text01 {
                    width: 100%;
                    font-size: rem(13);
                    line-height: calc(18/13);
                    letter-spacing: 0.1em;

                    &::before {
                        display: none;
                    }
                }

                .cta__btn02-hr {
                    display: none;
                }

                .cta__btn02-text02 {
                    flex-direction: column;
                    gap: rem(0);

                    .cta__btn02-text02-tel {
                        font-size: rem(32);
                        line-height: 1;
                        letter-spacing: 0;
                    }

                    .cta__btn02-text02-time {
                        font-size: rem(10);
                        line-height: 1.6;
                        letter-spacing: 0.1em;
                        margin-top: rem(-2);
                    }
                }

            }
        }

        &--reverce {
            padding-inline: 1rem 2rem;
            left: auto;

            &:hover {
                left: auto;
            }
        }
    }
}